<ion-view title="Camera Tab Default Page" id="page2">
    <ion-content padding="true" class="has-header">
        <button id="cameraTabDefaultPage-button1" class="button button-positive  button-block">Tap me!</button>
    </ion-content>
</ion-view>