<ion-view title="Escaner" id="page1">
    <ion-content padding="true" class="has-header">
        <button ng-click="scanBC()" id="escaner-button1" class=" button button-positive  button-block ">Escanear Codigo</button>
        <form id="escaner-form2" class="list ">
            <div>
                <p>Tipo de Codigo: <a id="tipo"></a></p>
            </div>
            <div>
                <p>Codigo: <a id="codigo"></a></p>
            </div>
        </form>
		<a href="http://www.lanacion.com" id="bbuscar" ><button id="escaner-button2" class=" button button-positive  button-block ">Buscar</button></a>
		<a id="birasitio"><button id="escaner-button3" class=" button button-positive  button-block ">Ir a Sitio Web</button></a>
    </ion-content>
</ion-view>